
						<th><h5>Items: <strong>{{totalitems}}</strong></h5></th>
						<th><h5>Total: <strong>{{total|floatformat:2}} EGP</strong></h5></th>

							<a  style="float:right; margin:5px;" class="btn btn-success" href="{% url 'checkout' %}">Checkout</a>

				{% for item in items %}

					<div><img class="row-image" src="{{item.product.imageURL}}"></div>
					<div>{{item.product.name}}</div>
					<div>{{item.product.price|floatformat:2}} EGP</div>
						<p>{{item.quantity}}</p>
							<img data-product = {{item.product.id}} data-action = "add" data-type = "product" class="chg-quantity update-cart" src="{% static  'images/up.png' %}">
							<img data-product = {{item.product.id}} data-action = "remove" data-type = "product" class="chg-quantity update-cart" src="{% static  'images/down.png' %}">

					<div>{{item.get_total|floatformat:2}} EGP</div>

				{% endfor %}

				{% for postitem in postitems %}
					{% if postitem.post.header_image %}
          					<div><img class="row-image" src="{{postitem.post.header_image.url}}"></div>
					{% endif %}
					<div>{{postitem.post.title}}</div>
					<div>{{postitem.post.price|floatformat:2}} EGP</div>
						<p>{{postitem.quantity}}</p>

							<img data-product = {{postitem.post.id}} data-action = "add" data-type = "post" class="chg-quantity update-cart" src="{% static  'images/up.png' %}">
							<img data-product = {{postitem.post.id}} data-action = "remove" data-type = "post" class="chg-quantity update-cart" src="{% static  'images/down.png' %}">

					<div> {postitem.get_total|floatformat:2}} EGP</div>

				{% endfor %}

{% endblock content %}