{% extends "blog/base2.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

    <!------------------Product Page--------------------->



                      {% if post.header_image %}
                          <img src="{{ post.header_image.url }}"  alt = "first slider">
                      </div>
                      <div class="carousel-item ">
                          <img src="{{ post.header_image.url }}"  alt = "second slider">
                      </div>
                      {% endif %}
                  </div>
              </div>
          </div>
          <div class = "col-md-6">
              <!-- Product Description -->
              <div class="product-description mt-5">
                <a class="mr-2" href="{% url 'user-posts' post.author.username %}"><h4>{{ post.author }}</h4></a>
                <br>
                <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
                <br>
                  <h2 class="article-title">{{ post.title }}</h2>
                  <br>
                  <p class="article-content">{{ post.content }}</p>
                  <br>
                  {%if post.author == user%}
                  <a href="{% url 'post-update' post.id %}" class="btn btn-outline-info">Update</a>
                  <a href="{% url 'post-delete' post.id %}" class="btn btn-outline-danger">Delete</a>
                 {% else %}
                  <a href="#" class="btn btn-outline-info">Add to cart</a>
                  {% endif %}
              </div>

              <br>
              <!-- Product Pricing -->




 </div>
 <!----------------- End of Product info ----------->
 <!----------------- Product Reviews --------------->





    <!-----------------End of product page--------------->
{% endblock content %}